*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-size: 16px;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;

  width: 100%;
  max-width: 48rem;
}

.form__field {
  margin: 1rem 0;
}

.button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;

  color: white;
  font-size: 1rem;

  background: black;
}

.button .button--block {
  width: 100%;
}

.grid__container {
  position: relative;
  border: 1px solid gray;
}

.grid {
  flex: 1;
  position: relative;
  overflow: hidden;

  height: 0;
}

.cells {
  position: absolute;

  width: 100%;
  height: 100%;
}

.cell {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  background: #f0f0f0;
}

.flex__box {
  display: flex;

  align-items: center;
  justify-content: center;
}

.flex__item {
  flex: 1;

  text-align: center;
}

.tile--next {
  text-align: left;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  background: rgba(0, 0, 0, 0.8);
}
